[Match]
Name=${main_interface_prefix}*
[Network]
DHCP=yes
DNS=172.17.43.1
DNS=${dns_server}
Domains=kontena.local
[DHCP]
UseDNS=false
UseMTU=true
UseDomains=true
